[user]
	email = hongyujiang@hotmail.com
	name = Bernard Jiang
[credential]
	helper = "!f() { /usr/src/app/.vscode-server/bin/3c4e3df9e89829dce27b7b5c24508306b151f30d/node /tmp/vscode-remote-containers-d358fed7a48dfcdd4aded4840fee44f3c2cd4d05.js $*; }; f"
